@import './script-error.css';
@import './loading.css';
@import './main-menu.css';
@import './level-select.css';
@import './simulator.css';

/* Inter */
@font-face {
    src: url('https://rsms.me/inter/font-files/InterVariable.woff2?v=4.1') format('woff2');
    font-family: 'Inter';
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('https://rsms.me/inter/font-files/InterVariable-Italic.woff2?v=4.1') format('woff2');
    font-family: 'Inter';
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
/* Mozilla Headline */
@font-face {
    src: url('https://fonts.gstatic.com/s/mozillaheadline/v1/QGY1z-UXahmCOps4kyMKGuSA9pYt8f_WLg.woff2') format('woff2');
    font-family: 'Mozilla Headline';
    font-optical-sizing: auto;
    font-weight: 200 700;
    font-style: normal;
    font-stretch: 75% 125%;
    font-display: swap;
}
/* Google Sans Code */
@font-face {
    src: url('https://fonts.gstatic.com/s/googlesanscode/v11/pxifyogzv91QhV44Z_GQBHsGf5PuWE5krw.woff2') format('woff2');
    font-family: 'Google Sans Code';
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('https://fonts.gstatic.com/s/googlesanscode/v11/pxiZyogzv91QhV44Z_GQBHsGf5PuWEtUrU6t.woff2') format('woff2');
    font-family: 'Google Sans Code';
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}
/* Icons */
@font-face {
    src: url('https://fonts.gstatic.com/s/materialsymbolsoutlined/v271/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2') format('woff2');
    font-family: 'Material Symbols Outlined';
    font-weight: 100 700;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/Templarian/MaterialDesign-Webfont/fonts/materialdesignicons-webfont.woff2') format('woff2');
    font-family: 'Material Symbols Outlined Alternate';
    font-weight: 100 700;
    font-style: normal;
}
.icon, .icon-alt {
    font-family: 'Material Symbols Outlined';
    font-weight: inherit;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: -0.14em;
    -webkit-user-select: none;
    user-select: none;
}
.icon-alt {
    /* No, this can't be the same class as .icon.
       For some reason, putting Alternate as a fallback
       causes it to be too low. */
    font-family: 'Material Symbols Outlined Alternate';
}

/* CSS reset, public domain
   https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
body {
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
    max-width: 72ch;
}
h1, h2, h3, h4, h5, h6 {
    /*
    For some reason, on Safari, this splits headings
    that could fit on one line into two lines.
    I have no idea why.
    
    text-wrap: balance;
    */
}
/* I don't use React so I don't need #10 */

html {
    --system-ui: system-ui, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-family: 'Inter', var(--system-ui);
    font-size: min(max(calc(100% + (100vw - 30rem) / 80), 100%), 112.5%);

    /* Background colors */
    --background-color: #202425;
    --background-main-color: #303637;
    --background-button-color: #464E50;
    --background-primary-color: #2F5935;
    --background-error-color: #5B2426;
    
    /* Border colors */
    --border-error-color: #98373B;
    
    /* Text colors */
    --text-color: #E3E5E5;
    --text-button-color: #E8EAEA;
    --text-primary-color: #9FF9AB;
    --text-error-color: #FFBEB8;
    --link-color: #8AB8F5;
    --link-color-visited: #CE9BF8;

    /* Miscellaneous colors */
    --gray-0:   hsl(190 7%  5%);
    --gray-5:   hsl(190 7% 10%);
    --gray-10:  hsl(190 7% 14%);
    --gray-20:  hsl(190 7% 23%);
    --gray-30:  hsl(190 7% 33%);
    --gray-40:  hsl(190 7% 42%);
    --gray-50:  hsl(190 7% 51%);
    --gray-60:  hsl(190 7% 60%);
    --gray-70:  hsl(190 7% 69%);
    --gray-80:  hsl(190 7% 79%);
    --gray-90:  hsl(190 7% 88%);
    --gray-95:  hsl(190 7% 92%);
    --gray-100: hsl(190 7% 97%);
    --black: var(--gray-0);
    --gray: var(--gray-50);
    --white: var(--gray-100);

    --primary-0:   hsl(129 44%  5%);
    --primary-5:   hsl(129 44% 10%);
    --primary-10:  hsl(129 44% 14%);
    --primary-20:  hsl(129 44% 23%);
    --primary-30:  hsl(129 44% 33%);
    --primary-40:  hsl(129 44% 42%);
    --primary-50:  hsl(129 44% 51%);
    --primary-60:  hsl(129 44% 60%);
    --primary-70:  hsl(129 44% 69%);
    --primary-80:  hsl(129 44% 79%);
    --primary-90:  hsl(129 44% 88%);
    --primary-95:  hsl(129 44% 92%);
    --primary-100: hsl(129 44% 97%);
    
    --error-0:   hsl(358 44%  5%);
    --error-5:   hsl(358 44% 10%);
    --error-10:  hsl(358 44% 14%);
    --error-20:  hsl(358 44% 23%);
    --error-30:  hsl(358 44% 33%);
    --error-40:  hsl(358 44% 42%);
    --error-50:  hsl(358 44% 51%);
    --error-60:  hsl(358 44% 60%);
    --error-70:  hsl(358 44% 69%);
    --error-80:  hsl(358 44% 79%);
    --error-90:  hsl(358 44% 88%);
    --error-95:  hsl(358 44% 92%);
    --error-100: hsl(358 44% 97%);
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
body, button, input, kbd {
    font-size: inherit;
}
html, body, .body-wrapper {
    height: 100%;
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    min-height: 40rem;
}
#conways-story-mode {
    flex: 1;
    margin: 1rem 1rem 0rem;
    background-color: var(--background-main-color);
    overflow-x: hidden;
    overflow-y: auto;
    color-scheme: dark;
    position: relative; /* So absolute elements stick to the inside of this element instead of the viewport */
    --100vw: calc(max(100vw, 20rem) - 2rem);
    --vw: calc(var(--100vw) / 100);
}
footer {
    margin: 0.6875rem 1rem 0.8125rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    a img {
        margin-right: 0.3em;
        display: inline;
        width: 1em;
        vertical-align: -0.1em;
    }
}
@media (width < 30rem) {
    .footer-inner {
        width: 100%;
        text-align: center;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:visited {
    color: var(--link-color-visited);
}
a:focus-visible {
    outline: 0.125rem solid currentcolor;
    outline-offset: 0.125rem;
    border-radius: 10000rem;
    margin-inline: -0.125rem;
    padding-inline: 0.125rem;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Mozilla Headline', var(--system-ui);
    margin: 0.5rem 0rem;
    --vw: max(1vw, 2rem);
}
h1 { font-weight: 600; font-size: min(3rem, calc(11 * var(--vw))); }
h2 { font-weight: 550; font-size: min(2.35rem, calc(9.5 * var(--vw))); }
h3 { font-weight: 510; font-size: min(1.85rem, calc(8.5 * var(--vw))); }
h4 { font-weight: 480; font-size: min(1.5rem, calc(8 * var(--vw))); }
h5 { font-weight: 460; font-size: 1.2rem; }
h6 { font-weight: 450; font-size: 1rem; }
code, pre, samp {
    font-family: 'Google Sans Code', monospace;
    overflow-x: auto;
}
kbd {
    font-family: inherit;
}

button, input[type~="button submit reset"], summary {
    --button-fg: var(--text-button-color);
    --button-bg: var(--background-button-color);
    &.primary-button {
        --button-fg: var(--text-primary-color);
        --button-bg: var(--background-primary-color);
    }
    &.warning-button {
        --button-fg: var(--text-error-color);
        --button-bg: var(--background-error-color);
    }
    appearance: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--button-bg);
    cursor: pointer;
    border-radius: 0.625rem;
    border: 0.125rem solid var(--button-fg);
    color: var(--button-fg);
    &[disabled], &[aria-disabled="true"] {
        border-color: color-mix(in srgb, var(--button-fg) 60%, var(--button-bg));
        color: color-mix(in srgb, var(--button-fg) 60%, var(--button-bg));
        cursor: not-allowed;
    }
    &:hover:not([disabled]):not([aria-disabled="true"]) {
        background-color: var(--button-fg);
        color: var(--button-bg);
    }
    &:focus-visible {
        outline: 0.125rem dashed var(--button-fg);
        outline-offset: 0.1875rem;
    }
}
input:focus-visible { /* Needed for type="range" at the minimum */
    outline: 0.125rem dashed var(--text-button-color);
    outline-offset: 0.1875rem;
    border-radius: 0.5rem;
}

.back-button, .invisible-button {
    margin: 0.5rem;
    font-size: 1.125rem;
    padding-left: 0.25rem;
    &:not(:hover) {
        border-color: transparent;
    }
}
.invisible-button:not(:hover) {
    background-color: transparent;
}
