#conways-story-mode {
    .levels-heading {
        margin: 0.5rem 0.5rem 0rem;
    }

    .levels-units-wrapper {
        width: fit-content;
        max-width: 100%;
        overflow-x: auto;
        background:
            linear-gradient(
                90deg,
                var(--background-main-color) 0rem calc(var(--gap-per-line) + 2rem),
                transparent calc(var(--gap-per-line) + 2rem) calc(100% - var(--gap-per-line) - 2rem),
                var(--background-main-color) calc(100% - var(--gap-per-line) - 2rem) 100%
            ),
            repeating-linear-gradient(
                180deg,
                transparent 0rem 1.625rem,
                gray 1.625rem 1.875rem,
                transparent 1.875rem 3.5rem
            );
    }
    .levels-units-wrapper, .levels-lessons-wrapper {
        --gap-per-line: calc((100% - round(down, 100%, 4.5rem)) / 2);
    }
    .levels-lessons-wrapper {
        background:
            repeating-linear-gradient(
                180deg,
                transparent 0rem 1.625rem,
                gray 1.625rem 1.875rem,
                transparent 1.875rem 3.5rem
            );
        width: fit-content;
    }
    .levels-units {
        display: flex;
        list-style-type: none;
        padding: 0;
        width: max-content;
        margin-inline: var(--gap-per-line);
    }
    .levels-lessons {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin-inline: var(--gap-per-line);
    }
    .levels-units li, .levels-lessons li {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        margin: 0.5rem 1rem;
        outline: 0.125rem solid gray;
        background-color: black;
        border-radius: 1.25rem;
        font-size: 1.5rem;
        &:nth-child(n + 100) {
            font-size: 1.25rem;
        }
        text-align: center;
        line-height: 2.5rem;
        z-index: 1;
    }
    .levels-lessons li:is(:first-child, :last-child)::before {
        position: absolute;
        content: '';
        width: max(100vw, 20rem);
        height: 2rem;
        top: 0.25rem;
        background-color: var(--background-main-color);
        z-index: -1;
    }
    .levels-lessons li:first-child::before {
        right: 2.5rem;
    }
    .levels-lessons li:last-child::before {
        left: 2.5rem;
    }
}
