@keyframes bar-grow {
    0%, 25% {
        transform: scaleX(0%);
    }
    100% {
        transform: scaleX(100%);
    }
}

#conways-story-mode {
    .main-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .main-title {
        margin: 0.5rem 1rem;
        text-align: center;
        line-height: 1.05;
    }
    .main-title::after {
        height: 0.25rem;
        width: calc(100% + 1rem);
        max-width: calc(40% + 20rem);
        justify-self: center;
        animation: 1.1s cubic-bezier(0.2, 0.8, 0.55, 1) bar-grow;
        background-color: var(--text-primary-color);
        margin: 0.25rem -0.5rem 0rem;
        content: '';
        display: block;
    }

    .main-button-wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: calc(100% - 2rem);
        max-width: 30rem;
        flex: 1;
        padding-bottom: 5rem;
        justify-content: center;
    }
    .main-button {
        margin: 1rem 0rem;
        display: grid;
        grid-template-areas:
            "a c"
            "b c";
        grid-template-columns: 1fr 4rem;
        padding: 0.125rem 0.5rem;
    }
    .main-button-name {
        margin: 0rem 0rem -0.25rem;
        text-align: left;
    }
    .main-button-icon {
        font-variation-settings: 'FILL' 1;
        font-size: 3.5rem;
        text-align: center;
        grid-area: c;
        top: 0rem;
        margin-block: auto;
    }
    .main-button-info {
        text-align: left;
        font-size: 1.125rem;
    }
}
