#conways-story-mode {
  .simulator-wrapper {
    height: 100%;
    display: flex;
    [data-portrait="true"] & {
      flex-direction: column;
    }
  }
  
  .simulator-sidebar {
    background-color: var(--gray-80);
    color: var(--gray-5);
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 16rem;
    min-height: 14rem;
  }
  
  .simulator-sidebar-top, .simulator-sidebar-bottom {
    display: flex;
    justify-content: space-between;
  }
  :is(.simulator-sidebar-top, .simulator-sidebar-bottom) button {
    --button-bg: var(--gray-90);
    --button-fg: var(--gray-10);
  }
  :is(.simulator-sidebar-top, .simulator-sidebar-bottom) .invisible-button {
    padding: 0.0625rem 0.125rem;
    font-size: 1.375rem;
    .icon {
      top: -0.0625rem;
    }
  }
  .simulator-sidebar-bottom .invisible-button:last-child {
    --button-bg: var(--error-90);
    --button-fg: var(--error-20);
    margin-left: auto;
  }
  
  /* Shamelessly stolen from level-select.css */
  .hint-button {
    position: relative;
    margin: 0.5rem;
    border-radius: 0.625rem;
  }
  .hint-button button {
    margin: 0rem;
  }
  .hint-tooltip {
    position: absolute;
    bottom: 3rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 14rem;
    min-width: 2.75rem;
    width: max-content;
    z-index: 20;
    line-height: 1.2;
    background-color: var(--gray-5);
    padding: 0.375rem 0.625rem;
    border-radius: 0.625rem;
    display: none; /* Gets overwritten when hovered or focused */
    left: -0.25rem;
    color: var(--text-color);
  }
  .hint-tooltip::before, .hint-tooltip::after {
    position: absolute;
    content: '';
    left: 0.4375rem;
    width: 1.5rem;
    height: 1.5rem;
    top: calc(100% - 0.0625rem);
  }
  /* ::before is the bounding box hack, ::after is what's shown */
  .hint-tooltip::after {
    background-color: var(--gray-5);
    clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
  }
  .hint-button:is(:hover, :focus-visible) .hint-tooltip {
    display: block;
  }
  
  .simulator-sidebar-main {
    padding: 0rem 0.75rem;
    flex: 1;
    overflow-y: auto;
    color-scheme: light;
  }
  .simulator-sidebar h3 {
    margin-block: 0rem;
  }
  .simulator-mission-wrapper {
    margin-bottom: 1rem;
  }
  .simulator-library-list {
    list-style-type: none;
    padding-left: 0;
  }
  .simulator-library-empty {
    font-style: italic;
  }

  
  .simulator-main {
    flex: 3;
    position: relative;
    z-index: 1;
  }
  
  .simulator-toolbar-top {
    --button-stretch: 0;
    display: flex;
    padding: 0.5rem;
    gap: calc(0.25rem * var(--button-stretch));
    font-size: 1.5rem;
    background-color: var(--gray-5);
  }
  button.simulator-toolbar-item {
    --button-bg: var(--gray-10);
    --button-fg: var(--gray-90);
    border-color: transparent;
    padding: 0.25rem calc(0.0625rem + 0.1875rem * var(--button-stretch));
    &:not(:hover) {
      background-color: transparent;
    }
    font-family: 'Material Symbols Outlined';
    line-height: 1;
  }
  #sidebar-open {
    margin-inline: -0.25rem 0.25rem;
  }
  #simulator-tool {
    position: relative;
    line-height: 1;
    button::after {
      content: 'arrow_drop_down';
      margin-inline: -0.25rem;
      font-size: 1.25rem;
      position: relative;
      top: -0.125rem;
    }
  }
  #simulator-options {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: -0.25rem;
    width: max-content;
    background-color: var(--gray-10);
    border-radius: 0.625rem;
    font-size: 1.25rem;
    &::before {
      content: '';
      width: 1.25rem;
      height: 0.625rem;
      background-color: var(--gray-10);
      display: block;
      position: absolute;
      bottom: calc(100% - 0.0625rem);
      left: 1.125rem;
      clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    }
  }
  .simulator-option-wrapper {
    padding-block: 0.25rem;
    border-radius: 0.625rem;
    overflow: hidden; /* The reason we can't combine this with #simulator-options */
  }
  .simulator-option {
    padding-inline: 0.3125rem 0.5rem;
    cursor: pointer;
    &[data-selected] {
      background-color: var(--text-color);
      color: var(--gray-10);
    }
  }
  #simulator-reset, #simulator-step, #simulator-play {
    font-variation-settings: 'FILL' 1;
  }
  #simulator-speed {
    display: flex;
    align-items: center;
    .simulator-summary {
      list-style-type: none;
      border-radius: 0.625rem;
      margin-bottom: calc(-1 * max(1px, round(down, 0.125rem, 1px))); /* Account for border width rounding */
    }
    .slider-wrapper {
      display: flex;
      margin-left: 0.125rem;
    }
    .slider-true {
      width: calc(4rem + 4rem * var(--button-stretch));
    }
    .slider-value {
      margin-left: calc(0.0625rem + 0.1875rem * var(--button-stretch));
      width: 2.125em;
      text-align: right;
      font-size: calc(1.25rem + 0.25rem * var(--button-stretch));
    }
    @media (width < 22rem) { /* 352px */
      #sidebar-open[data-visible] ~ .slider-wrapper {
        flex-direction: column;
      }
      #sidebar-open[data-visible] ~ .slider-true {
        height: 1rem;
      }
      #sidebar-open[data-visible] ~ .slider-value {
        margin: 0rem 0rem -0.25rem;
        text-align: center;
        font-size: 1rem;
        width: auto;
      }
    }
    @media (width < 20.25rem) { /* 324px */
      .slider-wrapper {
        flex-direction: column;
      }
      .slider-true {
        height: 1rem;
      }
      .slider-value {
        margin: 0rem 0rem -0.25rem;
        text-align: center;
        font-size: 1rem;
        width: auto;
      }
    }
  }
  #simulator-undo {
    margin-left: auto;
  }
  @media (width < 25.75rem) { /* 412px */
    #sidebar-open[data-visible] ~ #simulator-speed[open] ~ :is(#simulator-undo, #simulator-redo) {
      display: none;
    }
  }
  @media (width < 24rem) { /* 384px */
    #simulator-speed[open] ~ :is(#simulator-undo, #simulator-redo) {
      display: none;
    }
  }

  #simulator-cgol {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .simulator-toolbar-bottom {
    --button-stretch: 0;
    display: flex;
    padding: 0.5rem;
    gap: 0.25rem;
    font-size: 1.5rem;
    background-color: var(--gray-5);
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
  }
  .simulator-stats {
    display: flex;
    font-size: 1.25rem;
  }
  #simulator-stat-generations {
    margin-right: 0.5rem;
    @media (width < 28.25rem) {
      &:has(~ #simulator-extra-stats[open]) {
        display: none;
      }
    }
  }
  #simulator-extra-stats {
    display: flex;
    align-items: center;
    .simulator-summary {
      list-style-type: none;
      border-radius: 0.625rem;
      margin-bottom: calc(-1 * max(1px, round(down, 0.125rem, 1px))); /* Account for border width rounding */
    }
    .extra-stats-wrapper {
      display: flex;
      margin-left: 0.125rem;
      gap: 0.5rem;
      font-size: 1.25rem;
    }
  }
  #simulator-settings {
    margin-left: auto;
    font-variation-settings: 'FILL' 1;
  }
}
