#conways-story-mode {
  .simulator-wrapper {
    height: 100%;
    display: flex;
  }
  
  .simulator-sidebar {
    background-color: var(--gray-80);
    color: var(--gray-5);
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .simulator-sidebar-top .back-button {
    --button-bg: var(--gray-90);
    --button-fg: var(--gray-10);
  }
  .simulator-sidebar-main {
    padding: 0.5rem 0.75rem;
    flex: 1;
  }
  .simulator-sidebar h3 {
    margin-block: 0rem;
  }
  .simulator-mission-wrapper {
    margin-bottom: 1rem;
  }
  .simulator-library-empty {
    font-style: italic;
  }
  
  .simulator-main {
    flex: 3;
  }
}
